body {
  text-align: center;
}

/*Corpo do jogo*/

.quadrado {
  width: 50px;
  background: #eee;
  display: inline-block;
  padding: 40px;
  font-size: 60px;
  margin: 5px;
  cursor: pointer;
  color: #eee;
}

/*Jogador/Vencedor*/

.jogador,
.vencedor {
  font-size: 32px;
  margin-top: 10px;
}

/*Botão*/

button {
  margin-top: 10px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: #eee;

}